name: pkg.pr.new

on:
  pull_request:
    branches:
      - main

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Prepare module
        run: pnpm run dev:prepare

      - name: Build
        run: pnpm run prepack

      - name: Publish preview
        run: pnpx pkg-pr-new publish
